body {
    color: #555;
}
a {
    text-decoration: none;
}
.title, .row2, .nodes {
    background: #eee;
}


.blurb a {
    text-decoration: underline;
    color: #555;
}
a.button {
    text-decoration: none;
    display: inline-block;
    padding: 30px 40px;
    border-radius: 5px;
    background: #aa6767;
    color: #eee;
}
a.button:hover {
    background: #7F4545;
}
.row3, .row4, .row5 {
    background: #fff;
}

.row9 {
    background: #676767;
}
.footer {
    background: #333;
}

.footer .grid {
    color: #eee;
    padding: 20px 0;
    font-family: Arial;
}
.footer a {
    color: #eee;
}

.footer .content {
    height: auto;
    min-height: 0;
    margin: 20px auto;
}

.footer .headline {
    margin: 80px auto 20px auto;
}
.footer {
    text-align: center;
}

.ets-link {
    margin: 10px 0px;
    
}
.ets-globe {
    width: 60px;
    vertical-align: middle;
}

.content {
    margin: 80px 0;
}

.blurb {
    font-family: Arial;
    font-size: 16px;
    line-height: 1.6em;
}
.blurb p {
    margin-top: 0;
}
.blurb h3, .nodes h3 {
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.5em;
}
.blurb h4 {
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: normal;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
}
.feature {
    max-width: 485px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.row3 .feature, .row4 .feature, .row5 .feature {
    border: none;
}
.feature img {
    max-width: 445px;
    width: 100%;
}
.title .content {
    margin: 80px 0 20px 0;
    height: 280px;
    text-align: center;
}
.title h1 {
    font-size: 36px;
    font-family: "Roboto Slab";
    font-weight: bold;
    margin-bottom: 10px;
    color: #676767;
}    
.title h2 {
    margin-top: 0px;
    font-size: 20px;
    font-family: "Roboto Slab";
    font-weight: normal;
    color: #555;
}
.title img {
    margin: auto;
    max-width: 769px;
    width: 100%;
}

.nodes .content {
    text-align: center;
    height: auto;
    min-height: 0;
    margin: 40px 0 40px 0;
}
.nodes .grid {
    padding-top: 40px;
    padding-bottom: 40px;
}

.nodes h3 {
    text-align: center;
}
.nodes h4 {
    font-family: "Roboto Slab";
    text-align: center;
    font-weight: normal;
    margin-top: 3px;
    height: 50px;
}

.header {
    font-family: "Roboto Slab";
    font-size: 20px;
    line-height: 50px;
    color: #999;
    padding: 0px 10px;
    height: 50px;
    background: #333;
}
.header-content {
    width: 100%;
	max-width: 1155px;
	min-width: 755px;
	margin: 0 auto;
}
.header-content .logo {
    vertical-align: middle;
    height: 20px;
}
.header-content a {
    color: #999;
}
.header-content ul {
    float: right;
    list-style-type: none;
    margin: -0;
    padding: 0;
    background: #333;
}
.header-content li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.header-content li a {
    display: block;
    padding: 0 15px 0 15px;
}
.header-content li.current {
    background: url(images/tab.png) 50% bottom no-repeat;
}
.header-content li.current a {
    color: #fff;
}

